@charset "utf-8";

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: #333333;
  font-size: 15px;
  line-height: 2;
}

p,h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
}

img {
  vertical-align: bottom;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: #3583aa;
  text-decoration: none;
}

a:visited {
  color: #788d98;
}

a:hover {
  text-decoration: underline;
}

header {
  width: 960px;
  height: 0px;
  margin: 0 auto;
}

.logo{
  float: left;
  margin-top: 0px;
}

.global-nav {
  float: right;
  margin-top: 60px
}

.global-nav li {
  float: left;
  margin: 0 20px;
  font-size: 20px;
  list-style: none;
  font-family: 'Bitter', serif;
}

.global-nav li a {
   color: #ffffff;
}

.global-nav li a:hover {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 3px;
  text-decoration: none;
}

#wrap {
  clear: both;
  background-color: #ffffff;
  margin-top: 220px;
  padding: 35px 0;
}

.content {
  width: 960px;
  margin: 0 auto;
}

footer {
  text-align: center;
  color: #ffffff;
  padding: 20px 0;
  background-color: black;
}

footer small {
  font-size: 12px;
}

#index h1 {
  font-size: 100px;
  line-height: 1;
  color : red;
  font-family: 'bitter' , serif;
  margin-bottom: 50px;
  border: none;
}

#index .content {
  margin-top: 150px;
}

#index p {
  font-size: 16px;
  color: red;
}

.btn a {
  background-color: black;
  color: #ffffff;
  font-size: 20px;
  font-family: 'bitter', serif;
  width: 185px;
  display: block;
  text-align: center;
  line-height: 50px;
  margin-top: 20px;
  border-radius: 5px;
  border: 3px solid gray;
}

.btn a:hover {
  text-decoration: none;
  background-color: #ffffff;
  color: black;
}

#index {
  background-image: url(../images/325763.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.main-center {
  width: 940px;
  margin: 0 auto;
}

h1 {
  font-family: 'bitter' , serif;
  font-size: 36px;
  border-bottom: 1px solid #cccccc;
}

h2 {
  font-family: 'bitter' , serif;
  font-size: 24px;
}

.icon:before {
  content: "";
  padding-right: 10px;
  border-left: 7px solid #9cb4a4
}

#about .profile-txt span {
  font-weight: bold;
}

.clearfix:after {
  content:"";
  display: block;
  clear: both;
}

section {
  margin-bottom: 35px;
}

#about .career th {
  width: 240px;
  background-color: #f0f0f0;
  padding: 12px;
  border: 1px solid #cccccc
}

#about .career td {
  width: 660px;
  padding: 12px 0 12px 40px;
  border: 1px solid #cccccc;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

#index #wrap {
  background-color: transparent;
  margin-top: 0;
  padding: 0;
}

.main {
  width: 700px;
  margin: 0 10px;
  float: left;
}

.sidebar {
  width: 200px;
  margin: 0 10px 0 30px;
  float: right;
  font-family: 'Bitter'
}

a img:hover {
  opacity: 0.8;
}

.sidebar h2 {
  margin-bottom: 10px;
}

.sidebar ul {
  font-size: 16px;
  margin-left: 20px;
}

.sidebar ul a {
  color: #333333;
}

#photograph .photograph-list li {
  float: left;
  list-style: none;
  margin: 0 20px 15px 0;
}

#photograph .photograph-list li:nth-child(3n){
  margin-right: 0
}

figure img {
  height: 300px;
  width: auto;
  
}

.message {
  width: 400px;
  float: left;
}

figure {
  float: right;
}

#about .profile-image {
  width: 300px;
  height: auto;
  float: left;
}

#about .profile-tanaka {
  margin-left: 350px;
}

#photo・video .video {
  height: 300px;
  width: auto;
}

#photo・video .photo-image {
  width: 600px;
  height: 158px
}

#photo・video .video-image {
  width: 600px;
  height: auto;
}

#photograph .photo{
  width: 300px
}

#link .kanren {
  margin-left: 20px;
}

#index .sub-content {
  clear: both;
  background-color: #ffffff;
  margin-top: 100px;
  padding: 35px 0;
}

#index .sub-content p {
  color: black;
}

#index .sub-main {
  width: 940px;
  margin: 0 auto;
}

#article .article-box {
  height: 250px;
  margin-top: 20px;
  float: left;
}

#article .article-box figure {
  float: left;
  height: 220px;
  width: 220px;
  margin: 0;
}

#article .article-box figure img {
  height: 200px;
  width: 200px;
  border-radius: 10px;
}

#article .article-info {
  display: inline-block;
  float: right;
  width: 480px;
}

#article .article-info h2 {
  margin-bottom: 1.2rem;
}

#article .article-category {
  background-color: black;
	border-radius: 15px;
	color: white;
	padding: 5px 8px 5px 8px;
}

#article .article-date {
	color: #8B8B8B;
	margin-left: 1rem;
}

#article .article-box p {
  color: #8B8B8B;
  margin-top: 10px;
}

#content-sub .widget {	
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
	background-color: #fff;
	border-radius: 5px;
	margin-top: 30px;
	min-height: 300px;
	padding-left: 18px;
	padding-right: 18px;
}

#article .article-main {
  width: 700px;
  margin: 0 10px;
  float: ;
}

#content-sub {
  float: right;
  width: 200px;
  margin: 0 10px 0 30px;
}

#content-sub .widget-title {
	border-bottom: 1px solid black;
	display: block;
	font-size: 25px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
}

#content-sub .widget ul {
	list-style: none;
}

#content-sub .widget ul li {
	border-bottom: 1px dashed #B5B5B5;
	color: #686868;
	font-size: 15px;
	padding-top: 10px;
	padding-bottom: 10px;				
}

#content-sub .widget ul li span {
	background-color: #FAFAFA;
	border: 1px solid #686868;
	border-radius: 20px;
	color: #090909;
	padding: 1px 8px 1px 8px;
}

#content-sub .widget ul li:last-child {
	border-bottom: none;
}

#content-sub .widget p {
	font-size: 17px;
}
























